*.log
*.d.ts
*.db
*.map
.DS_Store
.travis.yml
.husky/
.eslintrc.js
.prettierrc
.tscofnig.json
.tsconfig.dev.json
.rollup.config.js
.roolup.cdn.config.js
.postcss.cofnig.js
.tailwind.config.js
.vscode/
webpack.config.js
@types/
scripts/
assets/
develop/
docs/
src/
node_modules/
coverage/
logs/
temp/
release/
debug/
CNAME
